main {
  max-width: 1200px;
  margin: auto;
}
header {
  max-width: 1200px;
}
#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(196, 196, 196, 0.4);
  background-size: cover;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  margin-top: 50px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.photograph-header img {
  object-fit: cover;
  border-radius: 300px;
  width: 200px;
  height: 200px;
  position: relative;
  left: 80%;
  top: -75%;
  flex-shrink: 0;
}

.photograph-header h2 {
  color: #d3573c;
  font-size: 64px;
  margin: 0;
  width: 400px;
}
.photograph-header p {
  color: #901c1c;
  margin: 5px;
  font-family: DM Sans;
  font-size: 24px;
}

.contact_button {
  position: relative;
  left: 40%;
  top: 30%;
}

#tagline {
  color: #525252;
  font-size: 18px;
  font-weight: 400;
}
.photographer_photos {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.photographer_photos img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.photographer_photos video {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.Informations {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #901c1c;
}
#price {
  margin-left: 80px;
  margin-right: 20px;
}
#title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.photographer_photos .fullsize {
  border-radius: 10px;
  z-index: 999;
  cursor: zoom-out;
  display: block;
  width: 1000px;
  height: 700px;
  position: fixed;
  left: 500px;
  top: 250px;
  bottom: 100px;
}

.closeButton {
  font-size: 50px;
  cursor: pointer;
  color: black;
}

/* Style pour le modal et le carrousel */
input:valid {
  border: 2px solid green;
}
input:invalid {
  border: 2px solid gray;
}

form  #message:valid {
  border: 2px solid green;
}

form #message:invalid {
  border: 2px solid gray;
}

#message {
  resize: none;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: none;
}
.modal_carroussel {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.modal-content {
  position: relative;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding-top: 20px;
}

.modal-content img {
  width: 80%;
  height: 900px;
  flex-shrink: 0;
  display: block;
  margin-top: 100px;
  margin: auto;
  object-fit: cover;
  border-radius: 10px;
}

.prev,
.next {
  background: none;
  border: none;
  font-size: 3vw;
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}

.close {
  color: red;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 10px;
  font-size: 3vw;
  z-index: 2;
}

.prev {
  left: 200px;
}

.next {
  right: 200px;
}

.close:hover {
  color: #ccc;
}

/*** trier ***/
.filter-container {
  margin: 0;
  padding: 0;
  display: flex;
  width: 280px;
  position: relative;
  bottom: 50px;
  left: 5px;
}
#sortSelect {
  margin-left: 20px;
  height: 30px;
}
.like-button {
}

.total {
  font-size: 24px;
  position: fixed;
  bottom: 0;
  left: calc(60% + 10px);
  width: 300px;
  max-width: 90%;
  background-color: #db8876;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 60px;
  font-weight: bold;
  align-items: center;
}
.total h2 {
  font-size: 24px;
  color: black;
  width: 120px;
  margin-left: 50px;
}
.total .fas.fa-heart {
  margin-left: 5px;
}
